<launch>
   <arg name="drone_type" default="bebop1" /> <!-- available drone types: bebop1, bebop2 -->
   <arg name="config_file" default="$(find bebop_driver)/config/defaults.yaml" />
       <node ns="bebop1" pkg="bebop_driver" name="bebop1" type="bebop_driver_node" output="screen">
           <param name="drone_type" value="bebop1" />
           <param name="bebop_ip" value="10.10.10.10" />
           <rosparam command="load" file="$(arg config_file)" />
       </node>
       <param name="robot_description" command="$(find xacro)/xacro $(find bebop_description)/urdf/bebop_base.urdf.xacro" />
       <node name="robot_state_publisher1" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
